.globe-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px auto 0;
  pointer-events: auto; 
  top: 0px;
  right: 50px;
  width: 0%;
  height: 80vh;
  z-index: 2;
  background: transparent;
}

.globe-container canvas {
  width: 100% !important;
  height: 100% !important;
  pointer-events: auto; /* ensures interactivity */
  border-radius: 100px;
}

.globe-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}


@media (max-width: 768px) {
  .globe-container {
    height: 60vh;
    margin-top: 60px;
  }
}
