.globe-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px auto 0;
  bottom: 100px;
  right: 50px;
  width: 0%;
  height: 80vh;
  z-index: 2;
}

.globe-container canvas {
  width: 125% !important;
  height: 125% !important;
  pointer-events: auto; /* ensures interactivity */
  border-radius: 100px;
}

.globe-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

@media (max-width: 768px) {
  .globe-container {
    height: 60vh;
    margin-top: 60px;
  }
}
