.globe-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px auto 0;
  pointer-events: auto; 
  bottom: 60px;
  right: 90px;
  width: 0%;
  height: 90vh;
  z-index: 2;
  border: none;
  background: transparent;
}

.globe-container canvas {
  width: 120% !important;
  height: 120% !important;
  pointer-events: auto; /* ensures interactivity */
  border-radius: 10px;
}

.globe-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}


@media (max-width: 768px) {
  .globe-container {
    height: 60vh;
    margin-top: 60px;
  }
}
