.music-player-container {
  width: 90%;
  max-width: 1000px;
  background: transparent;
  backdrop-filter: blur(12px);
  padding: 1.5rem;
  border-radius: 16px;
  text-align: center;
  border: 1px solid white;
  z-index: 2;
}

.music-player-container h2 {
  color: #ffffff;
  margin-bottom: 1rem;
}
